.block_recent_activity_rwth .activitydate {
    text-align: center;
}

/* Spacing between entries. */
.block_recent_activity_rwth .info {
    margin-bottom: 1em;
}
.block_recent_activity_rwth.single-course .info.last,
.block_recent_activity_rwth.single-course .activity.last {
    margin-bottom: 0;
}

/* Spacing between plugins. */
.block_recent_activity_rwth h3 {
    margin-top: 1.5em;
}

/* Make course heading same size as block heading. */
.block_recent_activity_rwth h2 {
    font-size: 1.171875rem;
}

/* Move date to the right of user name and hide it. */
.block_recent_activity_rwth .head .date {
    float: right;
    display: inline;
}

/* Spacing below "since ..." text. */
.block_recent_activity_rwth .activityhead {
    margin-bottom: 1rem;
}

/* Center "no recent activity" text and remove excessive spacing. */
.block_recent_activity_rwth p.message {
    text-align: center;
    margin-bottom: 0;
}

/* Make headings smaller and bold. */
.block_recent_activity_rwth .content h3 {
    font-weight: bold;
    font-size: 1.1em;
}
.block_recent_activity_rwth input { 
    position:absolute;
    display: inline-block;
    width: 100%;
    bottom: 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    /* transition: height 2s ease-in;
    overflow:hidden; */
}
.block_recent_activity_rwth.single-course p.activity.last {
    margin-bottom: 30px;
}
.block_recent_activity_rwth.single-course div.activty div.float-left{
    float: left;
}
.block_recent_activity_rwth.single-course div.activty div.float-right{
    float: right;
}



.block_recent_activity_rwth input:focus {
    background-color: #e1e1e1;
}

.block_recent_activity_rwth input:hover {
    background-color: #00549f;
    color: #e1e1e1;
}

.block_recent_activity_rwth .recent_activity_course_header a {
    display: block;
}

/* Override margin inserted by browser (only on dashboard, strangely). */
form#recent_period {
    margin-block-end: 0;
}

.recent_activity_course_header a.collapsed::after {
    content: "\F0da";
    top: 0;
}

.recent_activity_course_header a::after {
    top: 0;
    content:"\F0D7";
    font-family: FontAwesome;
    font-size: 1.2rem;
    position: absolute;
    right: .75rem;
}

.recent_activity_course {
    position: relative;
}

.recent_activity_course_count_changes {
    display: inline;
    margin-left: 10px;
}
h2.recent_activity_course_header {
    margin-bottom: 0;
    max-width: 295px;
}
.recent_activity_course p.activity.last {
    margin-bottom: 0;
}